@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Shadows+Into+Light&display=swap');
body {
   font-family: Nunito;
   font-weight: bold;
}

nav {
   box-shadow: 0 0 5px black;
   background: white;
   padding: 12px !important;
}

.navbar-nav a {
   font-size: 16px;
   color: grey !important;
   font-weight: bold;
   font-family: Nunito;
}

.CInput {
   margin-top: 220px;
}


.form-group {
   position: relative;
}

.form-group.error input{
   border: 1px solid red;
}

.form-group.error small {
   color: red !important;
   visibility: visible;
   display: flex;
   font-weight: bold;
}

.form-group.error .fa-exclamation-circle {
   visibility: visible;
   color: red;
}

.form-group .iconError {
   position: absolute;
   top: 43px;
   right: 12px;
   visibility: hidden;
}


@media (max-width: 576px) {
   .arrow {
      margin-left: 10px;
   }

   .CInput {
      margin-top: 120px;
      padding: 80px;
   }
}

