@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Nunito:wght@200&family=Poppins:wght@300&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Kalam:wght@300&display=swap');

nav {
   box-shadow: 0 0 5px black;
   background: white;
}

.navbar-brand {
   text-transform: uppercase;
   font-family: 'Anton', sans-serif;
   font-size: 25px;
   font-weight: normal;
}


.form-group {
   position: relative;
}

.form-group.error input{
   border: 1px solid red;
}

.form-group.error small {
   color: red !important;
   visibility: visible;
   display: flex;
   font-weight: bold;
}

.form-group.error .fa-exclamation-circle {
   visibility: visible;
   color: red;
}

.form-group .iconError {
   position: absolute;
   top: 43px;
   right: 12px;
   visibility: hidden;
}

h1 {
   font-family: 'Poppins', sans-serif;
   font-weight: bold;
}

body {
   font-family: 'Nunito', sans-serif;
   font-weight: bold;
}

.Title {
   margin-top: 50px;
   margin-bottom: 35px;
}

.Forgot {
   margin-top: -10px;
   font-size: 14px;
}

a {
   color: red;
   text-decoration: none !important;
}

a:hover {
   color: rgb(255, 59, 59);
}

button {
   font-weight: bold !important;
}

@media (max-width: 767px) {
   .CForm {
      margin-top: -80px;
      padding: 75px;
   }

   body {
      font-size: 15px;
   }
}

@media (max-width: 576px) {
   .form-control {
      padding: 10px 10px;
      font-size: 14px;
   }

   .form-group .iconError {
      top: 40px;
      right: 12px;
   }

   h1 {
      font-size: 30px;
   }

   body {
      font-size: 14px;
   }

   .Forgot a {
      font-size: 13px;
   }

   .CForm {
      margin-top: -80px;
      padding: 75px;
   }
}
